* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(315deg, #fff 0%, #add8e6 75%);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.botao {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.icone {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.botao:hover {
  color: #fff;
}
.caixa .botao:nth-child(1):hover .icone {
  background: #00008b;
}
.caixa .botao:nth-child(2):hover .icone {
  background: #171515;
}
.caixa .botao:nth-child(3):hover .icone {
  background: #0e76a8;
}
.caixa .botao:nth-child(4):hover .icone {
  background: #c13584;
}
.icone i {
  font-size: 1.5rem;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.botao span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
.botao:hover {
  width: 200px;
}
.caixa .botao:nth-child(1):hover span {
  color: darkblue;
}
.caixa .botao:nth-child(2):hover span {
  color: #171515;
}
.caixa .botao:nth-child(3):hover span {
  color: #0e76a8;
}
.caixa .botao:nth-child(4):hover span {
  color: #c13584;
}
 .fundo {
    display: none;
  }
  
  