*{
    margin: 0;
    padding: 0;
}
.geral{
    height: 100vh;
    width: 100%;
    background-image: url(ceu.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.estrada{
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(estrada.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: movimento 5s linear infinite;
}
@keyframes movimento{
    100%{transform: translateX(-3400px);}
}
.cidade{
    height: 250px;
    width: 500%;
    background-image: url(cidade.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: cidade 20s linear infinite;
}
@keyframes cidade{
    100%{transform: translateX(-1400px);}
}
.carro{
    width: 400px;
    left: 50%;    
    bottom: 100px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}
.carro img{
    width: 100%;
    animation: carro 1s linear infinite;
}
@keyframes carro{
    100%{transform: translateY(-4px);}
    50%{transform: translateY(0px);}
    0%{transform: translateY(-4px);}
}

.roda{
    left: 50%;
    bottom: 186px;
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
}
.roda img{
    width: 80px;
    height: 80px;
    animation: rodar 2s linear infinite;
}
@keyframes rodar{
    100%{transform: rotate(360deg)}
}
.roda-traseira{
    left: -169px;
    position: absolute;
}
.roda-dianteira{
    left: 76px;
    position: absolute;
}
.poderosas{
    width: 100%;
}
.poderosas img{
    position: absolute;
    transform: translateX(-5000px);
    width: 5%;
    animation: voar 5s linear infinite;
    

}
@keyframes voar{
    100%{transform: translateX(5000px);}
}