@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f293a;
}
.conteiner {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-login {
  width: 400px;
  position: absolute;
}
h2 {
  font-size: 2rem;
  color: #0ef;
  text-align: center;
}
form {
  width: 100%;
  padding: 0 50px;
}
.cxEntrada {
  position: relative;
  margin: 25px 0;
}
input {
  width: 100%;
  height: 35px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  border-radius: 40px;
}
label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: aliceblue;
  pointer-events: none;
  transition: 0.5s ease;
}
.esqueciSenha {
  margin: -15px 0 10px;
  text-align: center;
}
.esqueciSenha a {
  font-size: 0.75rem;
  color: aliceblue;
  text-decoration: none;
}
.esqueciSenha a:hover {
  color: lightgray;
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 35px;
  background-color: #0ef;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  color: #1f293a;
  font-size: 1rem;
}
.cadastro {
  margin: 15px 0 5px;
  text-align: center;
}
.cadastro a {
  font-size: 0.75rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 900;
}
.cadastro a:hover {
  text-decoration: underline;
  color: lightgray;
}
.cxEntrada input:focus ~ label,
.cxEntrada input:valid ~ label {
  top: 1px;
  font-size: 0.9rem;
  background: #1f293a;
  padding: 0 6px;
  color: #0ef;
}
.cxEntrada input:focus {
  border-color: #0ef;
  transition: 0.8s;
}
.cxEntrada input {
  font-size: 1rem;
  color: #0ef;
  padding: 0 0 0 20px;
}
span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #2c4766;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  transform-origin: 128px;
  animation: rotacao 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}
@keyframes rotacao {
  0% { background: #0ef;}
  25% { background: #2c4766;}
}
